<h1>About Bloccit</h1>
<p>Created by: David Kempner</p>

<<<<<<< HEAD
  <div class="social-btn">
    <%= link_to "Github", "https://github.com/dkempner1" %>
  </div>
=======
<div class="social-btn">
  <%= link_to "Github", "https://github.com/dkempner1" %>
</div>
>>>>>>> assignment-checkpoint-30
